
body{
   position: relative; /* contenedor relativo para los blobs */
   min-height: 100vh;
  overflow: hidden; /* evita scroll por el blur */
}
.globo {
  position: absolute;
  width: 200px;
  height: 300px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(196, 58, 101, 0.671), transparent 70%);
  filter: blur(80px);
  z-index: -1; /* para que quede detrás del contenido */
}

/*! Se usa un número negativo porque así se empuja el elemento hacia afuera de su contenedor o de la pantalla. */
.globo1 {
  top: -50px;
  left: -50px;
  background: radial-gradient(circle, rgba(255, 0, 0, 0.4), transparent 70%);
}

.globo2 {
  bottom: -80px;
  right: -0px;
  background: radial-gradient(circle, rgba(0, 255, 200, 0.781), transparent 70%);
}

.titulo{
  font-family: "Share Tech Mono", monospace;
  font-size: 70px;
  font-weight: 500;
  color: black;
}

p,
.form-control {
  font-family: "Space Grotesk", sans-serif;
  font-size: small;
}

.columnas {
  border-radius: 20px;
  height: 35px;
  width: 150px;
  position: relative;
}

.columnas p {
  margin: 0;
  padding: 0 5px;
  font-size: 14px;
}


.columnas{
  & img{
     width: 25px;
  height: 25px;
  object-fit: contain;
  }
}
.btn{
  border: none;
}

.iconos {
  background: linear-gradient(
    90deg,
    rgb(125, 34, 230) 0%,
    rgba(203, 102, 250, 0.692) 58%,
    rgba(220, 190, 228, 0.991) 100%
  );
}

.fotos {
  background: linear-gradient(
    90deg,
    rgb(34, 119, 230) 0%,
    rgba(102, 215, 250, 0.692) 58%,
    rgba(190, 228, 226, 0.991) 100%
  );
}

.color {
  background: linear-gradient(90deg,rgb(230, 67, 67) 0%,
   rgba(235, 159, 131, 0.682) 58%,
    rgba(252, 188, 86, 0.991) 100%);
  
}

.video {
  background: linear-gradient(
    90deg,
    rgba(34, 230, 60, 1) 0%,
    rgba(102, 250, 193, 0.692) 58%,
    rgba(143, 240, 202, 0.692) 100%
  );
}

.fondo {
  background: linear-gradient(
    90deg,
    rgba(230, 34, 178, 1) 0%,
    rgba(137, 102, 250, 0.692) 58%,
    rgba(208, 190, 228, 0.991) 100%
  );
}
.compos{
  background: linear-gradient(
    90deg
    ,rgb(36, 230, 18) 0%,
     rgba(182, 243, 69, 0.681) 58%, 
     rgba(215, 243, 149, 0.991) 100%);
}
.api{
  background: linear-gradient(90deg,rgb(230, 67, 148) 0%,
   rgba(235, 131, 230, 0.682) 58%,
   rgba(235, 131, 180, 0.682) 100%);  
}
.fuentes  {
  background: linear-gradient(90deg,rgb(166, 207, 15) 0%,
   rgba(222, 255, 103, 0.681) 58%,
   rgba(222, 255, 103, 0.681) 100%);
}
.animaciones{
   background: linear-gradient(90deg,rgb(230, 156, 18) 0%,
   rgba(221, 213, 142, 0.681) 58%,
    rgba(221, 213, 142, 0.681) 100%);
}

.salto:hover{
  transform:translateY(-2px);
 transition: transform 0.2s ease-in;
} 
